<%- include('../partials/header') %>
       
       <h1><%=title%></h1>
 
      <img src="../../images/hackathon.jpg">   
      <h2>Hobbies Include:</h2>    
    <ul>
      <li>reading</li>
      <li>Self Learning</li>
      <li>Axe Throwing</li>
      <li>Archery</li>
      <li>Hiking</li>
      <li>Running</li>
      <li>Gaming</li>
      <li>Programming</li>
    </ul>
      <%- include('../partials/footer') %>