      <%- include('../partials/header') %>
       
       <h1><%=title%></h1>
 
      <img src="../../images/sxsw.jpg">
        <h2>You can contact me at:</h2>
      <ul>
        <li>sunny@sunceriedaye.com</li>
        <li>sunceried@gmail.com</li>
        <li>sdaye@sea.yearup.org</li>
      </ul>
      <%- include('../partials/footer') %> 