
      <%- include('../partials/header') %>
       
       <h1><%=title%></h1>
 
      <p>Hello, I am Suncerie Daye.</p>    
      <img src="../../images/headshot.jpg" />
      <%- include('../partials/footer') %>      
